.sideCategories 
{
    overflow: auto;
    max-height: 84vh;
    // &::-webkit-scrollbar {
    //     display: none;
    // }
}


.sideCategories .item 
{
    width: auto;
    padding: 3.7vh 2vh;

    background: var(--black-background-65);
    font-size: 3.5vh;
    color: white;

    text-transform: uppercase;

    display:flex;

    justify-content: space-between;

    &:hover{
        background: var(--black-background-90);
    }

    &:nth-child(odd){
        clip-path: polygon(0% 0px, 100% 0px, 100% 93%, 0% 100%);
    }

    &:nth-child(even){
        margin-top: -10px;
        clip-path: polygon(0 7%, 100% 0px, 100% 100%, 0% 100%);
    }
    
}


.sideCategories .item .counter
{

    display:flex;
        
    align-items: center;
    justify-content: center;


    .number
    {
        width: 45px;
        height: 35px;

        display:flex;
        
        align-items: center;
        justify-content: center;

        font-size:2.5vh;

        // padding-inline: .2vh;
        padding-block: .2vh;
        
        line-height: 2vh;
        
        background: url("./images/count.svg") !important;
        background-size: 100% !important;
        background-repeat: no-repeat !important;

    }
    .arrow{
        &::after{
            content: "▸"
        }
    }
}

.selected
{
    background: var(--blue-light) !important;
    color: var(--black-background-90) !important;

    .number
    {
        color:white;
    }

    .arrow{
        color: var(--black-background-90) !important;
    }
}