.mainPage 
{
    display:grid;

    grid-template-rows: 1fr 6fr;

    // border: 1px solid yellow;

    width: 100%;
    height: 97%;

    margin-top: 3vh;
    
    position: relative;
}

.container
{
    display:grid;

    grid-template-columns: 1fr 1fr;

    position: relative;

    margin-top: 2vh;

    width: 100vw;
}

.rightContainer
{
    display:flex;

    flex-direction: column;

    width: 77vw;
    max-width: 77vw;

    justify-content: space-between;

    align-items: flex-start;
}