.showroomManagement 
{
    display:grid;

    grid-template-rows: 1fr 6fr;

    // border: 1px solid yellow;

    width: 100%;
    height: 97%;

    margin-top: 3vh;
    
    position: relative;
}

.container
{
    display:grid;

    grid-template-columns: 2fr 1fr ;

}

.vehicles
{
    border: 1px solid orange
}