.carousel
{
    display:flex;

    flex-direction: column;
    position: relative;

    background: var(--black-background-65);

    justify-content: center;

    padding-block: 2vh;

    // border: 1px yellow solid;
    width: 100%;

    min-height: 22vh;

}

.carousel .header
{
    font-size: 3vh;
    color: white;

    text-transform: uppercase;
    
    padding-inline: 4vh;

    display:flex;

    flex-direction: row;

    align-items: center;
}

.carousel .header .sortButton
{
    border: 1px solid var(--blue-light);

    padding: .5vh 1vh;

    font-size: 2vh;
    line-height: 1vh;

    background: #b7d5ed3f;

    margin-inline: 2vh;

    img{
        padding-inline: .5vh;
        line-height: 2vh;
    }
}

.carousel .container
{
    // display: flex;

    // flex-direction: row;


    width: 100%;

    height: auto;

    // border: 1px solid red;

    overflow: auto;
    
    &::-webkit-scrollbar {
		display:none !important;
	} 
}

.carousel .container .carouselGrid
{
    // width:96%;
    display:inline-flex;

    // grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-gap: 2vh;

    padding-inline: 4vh;

    position: relative;

    padding-block: 1vh;


    & > div 
    {
        width: 326px;
        height: 200px;
    }
}