.specialOffers 
{
    display:grid;

    grid-template-rows: 1fr .4fr 6fr;

    // border: 1px solid yellow;

    width: 99%;
    height: 97%;

    margin-top: 3vh;
    
    position: relative;
}

.container
{
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

.categoryFilter
{
    display: flex;
    flex-direction: row;
    padding: 1vh 4vh;

    flex-wrap: wrap;
}

.vehiclesContainer
{
    margin-top: 2vh;
    width:96%;
    display: inline-grid;

    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 2vh;

    padding-inline: 4vh;

    position: relative;
}

.vehicles
{
    border: 1px solid orange
}